.div{
    width:80%;
    height:900px;
    background-color:blue ;
    margin:0 auto;/*居中显示*/
}

ul{
    list-style-type: none;/*去掉li之前的点号 .*/
    margin:0px;
    padding:0px ;
}

a:visited,a:link{
    text-decoration:none;
    display:block;
    background-color: burlywood;
    color:aliceblue;
    width:50px;
    text-align:center;
    font-weight:bold;
}

a:active,a:hover{
    background-color: crimson;
}