ul{
    list-style-type: none;/*去掉li之前的点号 .*/
    margin:0px;
    padding:0px ;
}

li{
    display:inline;/*横向排列*/
}

a:visited,a:link{
    text-decoration:none;

    background-color: burlywood;
    color:aliceblue;
    width:50px;
    text-align:center;
    font-weight:bold;
}

a:active,a:hover{
    background-color: crimson;
}