<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>列表</title>
</head>
<body>
 <p>无序列表及有序列表</p>

  <ul>
    <li>ios</li>
    <li>android</li>
    <li>html5</li>
    <li>swift</li>
  </ul>

  <ul type="disc">
    <li>ios</li>
    <li>android</li>
    <li>html5</li>
    <li>swift</li>
  </ul>

  <ul type="circle">
      <li>ios</li>
      <li>android</li>
      <li>html5</li>
      <li>swift</li>
  </ul>

  <ul type="square">
      <li>ios</li>
      <li>android</li>
      <li>html5</li>
      <li>swift</li>
  </ul>

  <ol>
      <li>ios</li>
      <li>android</li>
      <li>html5</li>
      <li>swift</li>
  </ol>

  <ol start="6">
      <li>ios</li>
      <li>android</li>
      <li>html5</li>
      <li>swift</li>
  </ol>

  <ol type="a">
      <li>ios</li>
      <li>android</li>
      <li>html5</li>
      <li>swift</li>
  </ol>

  <ol type="A">
      <li>ios</li>
      <li>android</li>
      <li>html5</li>
      <li>swift</li>
  </ol>

  <ol type="i">
      <li>ios</li>
      <li>android</li>
      <li>html5</li>
      <li>swift</li>
  </ol>

  <ol type="I">
      <li>ios</li>
      <li>android</li>
      <li>html5</li>
      <li>swift</li>
  </ol>

  <ul>
      <li>人类</li>
          <ul>
              <li>中国人</li>
              <li>美国人</li>
          </ul>

      <li>动物</li>
          <ul>
              <li>狗</li>
              <li>猫</li>
          </ul>
      <li>植物</li>
  </ul>


   <p>用户自定义列表</p>
   <dl>
       <dt>人类</dt>
         <dd>人类是地球上自始以来最智慧的生物</dd>
       <dt>动物</dt>
         <dd>动物一般以有机物为食，能感觉，可运动</dd>
       <dt>植物</dt>
         <dd>植物有明显的细胞壁和细胞核</dd>
   </dl>

</body>
</html>